/**Welcome to the dimension CSS,
  beautiful and unknown . . .**/

body {
    margin: 0;
    font-family: Arial;
    color: #FFF !important;
    background-color: #000 !important;
    line-height: 1.3em;
    overflow: hidden;
}

h1 {
    text-align: center;
    line-height: 1.2em;
    margin: 0;
    font-size: 32px;
}

p {
    text-align: center;
    font-size: 16px;
    color: #FFF;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: lightblue;
}

a:hover {
    text-decoration: none;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    display: flex;
}

.container {
    width: 80%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.ghost-box {
    background-color: rgba(17, 17, 17, 0.35);
    padding: 1em 1.5em 1em 1.5em;
    margin: 1em;
    border-radius: 5em;
}

/*Responsive..................................................................*/

@media (max-width: 750px) {
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 13px;
    }

    .container {
        width: 95%;
    }

    .ghost-box {
        padding: 1em;
        border-radius: 2em;
    }
}


/* ----- Front   ------- */

@font-face {
    font-family: "Barlow";
    font-weight: normal;
    font-style: normal;
    src: url("./resources/fonts/Barlow/Barlow-Medium.ttf");
}

/* ----- Sidebar ------- */

.logo {
    position: absolute;
}

.logo img {
    margin: 30px;
    width: 300px;
}

.article-box {
    pointer-events: none;
    font-family: Barlow;
    font-size: 30px;
    padding: 30px;
    position: absolute;
    right: 0;
    width: 26%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(9,9,121,0.5) 35%, rgba(0,212,255,0.5) 100%);
    height: 100%;
}

.article-box h2 {
    text-align: center;
}

.article-box p {
    font-size: 16px;
}

.right_arrow {
    font-family: Barlow;
    position: absolute;
    font-size: 50px;
    padding: 70px;
    right: 0;
    bottom: 0;
    color: white;
}

.left_arrow {
    font-family: Barlow;
    position: absolute;
    font-size: 50px;
    padding: 70px;
    left: 0;
    bottom: 0;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.article-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: white 3px solid;
}

#info {
    width: 350px;
    text-align: left;
    font-family: Barlow;
    font-size: 50px;
    position: absolute;
    left: 60px;
    top: 350px;
}

#info #ah {
    font-size: 30px;
    margin-bottom: 10px;
}

#info p {
    text-align: left;
    top: 0;
    font-size: 20px;
}

#button {
    margin-top: 25px;
    font-family: Barlow;
    border: white 5px solid;
    width: fit-content;
    border-radius: 15px;
    visibility: hidden;
    transition-duration: 0.2s;
}
#button p {
    padding: 20px;
    font-weight: bold;
    font-size: 40px !important;
}
a.buttons {
    border-radius: 25px;
    border: white 5px solid;
    width: 220px;
    height: 50px;
    text-decoration: none;
    padding-top: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 20px auto;
    font: normal 25px arial;
}

#button:hover {
    background-color: white;
    transition-duration: 0.2s;
}

#button:hover p {
    transition-duration: 0.2s;
    color: black;
}

#button:active {
    transition: 0.2s;
    background-color: black;
}

#button:active p {
    color: white;
}

a.buttons:not(.active) {
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}

a.buttons:not(.active):hover,
a.buttons:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
a.buttons:not(:hover) {
    transition: 0.6s;
}
.Start_button{
    font-family: Barlow;
    margin-top: 40px;
}

.text_holder{
    text-align: justify;
    width: 80%;
    font-family: Barlow;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.text_holder p{
    font-size: 35px;
}

#ctr {
    margin-top: 20px;
}
